@model BITSoccer.Models.About

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h2 class="mb-3">GIỚI THIỆU</h2>
        <p>
            @Model.Description
        </p>
    </div>
</div>
<!--Đội ngũ HLV  -->
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 my-3">
        <h2 class="my-3">ĐỘI NGŨ HUẤN LUYỆN VIÊN</h2>
    </div>

    <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 my-3">
        <h4 class="text-center">Đội ngũ Huấn Luyện Viên của Trung Tâm Huấn Luyện Bóng Đá BIT</h4>
        <p class="my-3">
            @Model.CoachDescription
        </p>
        <a class="btn btn-info" href="@Url.Action("Coach","Home")">Xem chi tiết</a>
    </div>
    <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
        <a href="">
            <img src="@Model.Image" alt="Hình" class="img-fluid">
        </a>
    </div>
</div>
