@model IEnumerable<BITSoccer.Models.Coach_Moment>

@{
    foreach (var item in Model)
    {
        <div class="col-md-4 col-sm-6 col-sx-12 e-lesson">
            <div class="lesson ih-item square colored effect3 bottom_to_top">
                <a href="@Html.Raw(item.Link)">
                    <div class="img img-responsive"><img src="@item.Image" alt="img"></div>
                    <div class="info">
                        <h3>@item.Description</h3>
                    </div>
                </a>
            </div>
        </div>
    }

}
