@{
    ViewBag.Title = "About";
}
<main>
    <div class="titile-bg" style="background-image: url('../../Assets/img/football-stadium.jpg');">
        <div class="container">
            <div class="titile-name">Về chúng tôi</div>
        </div>
        <div class="text-shadow"></div>
    </div>
    <div id="background_main">
        <!--Script giới thiệu -->
        <div class="container">
            <div id="background_content" style="padding:30px 30px">
               @{ 
                   Html.RenderAction("About", "Partial");
               }
                <!--Góc ảnh-->
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 my-3">
                        <h2 class="mb-3">GÓC ẢNH</h2>
                    </div>
                    <!-- Slider -->
                    <div class="container-fluid p-0">
                        <div class="site-slider">
                            <div class="slider-one">
                                @{ 
                                    Html.RenderAction("AboutSlide", "Partial");
                                }
                            </div>

                            <div class="slider-btn">
                                <span class="prev position-top">
                                    <i class="fas fa-chevron-left"></i>
                                </span>
                                <span class="next position-top right-0">
                                    <i class="fas fa-chevron-right"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Where are we?-->
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 my-3">
                        <h2 class="mb-3">WHERE ARE WE?</h2>
                        <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15676.4757168772!2d106.61830618822614!3d10.802202317136882!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x8d1076f7a39cba5e!2sAEON%20MALL%20T%C3%A2n%20Ph%C3%BA%20Celadon!5e0!3m2!1svi!2s!4v1589182947842!5m2!1svi!2s"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>