@{
    ViewBag.Title = "About";
}
<main>
    <div class="titile-bg" style="background-image: url('../../Assets/img/football-stadium.jpg');">
        <div class="container">
            <div class="titile-name">Về chúng tôi</div>
        </div>
        <div class="text-shadow"></div>
    </div>
    <div id="background_main">
        <!--Script giới thiệu -->
        <div class="container">
            <div id="background_content" style="padding:30px 30px">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <h2>GIỚI THIỆU</h2>
                        <p>
                            <strong>Trung Tâm Đào Tạo Bóng Đá BIT</strong> là trung tâm chuyên huấn luyện về kỹ năng đá bóng cho học sinh Tiểu học đến Trung học Phổ thông.
                            Với mục đích tạo sân chơi, mang lại cho các bạn học sinh yêu bóng đá những giây phút thoải mái khám phá và chinh phục môn thể thao hấp dẫn nhất hành tinh. Với phương châm THỂ THAO – SỨC KHỎE – NIỀM ĐAM MÊ,
                            các bạn học sinh sẽ có những giây phút hào hứng, sôi động và thật sự làm chủ được những đường bóng bằng đôi chân nhanh nhẹn, kỹ thuật khéo léo, cùng với sức khỏe dẻo dai.
                            Hãy biến mùa hè này của bạn thành mùa hè tuyệt vời nhất – mùa hè bùng cháy niềm đam mê bóng đá với chương trình mùa hè sôi động cùng bóng đá tại <strong>Trung Tâm Đào Tạo Bóng Đá BIT</strong>
                        </p>
                        <p>Thành lập ngày...</p>
                    </div>
                </div>
                <!--Đội ngũ HLV  -->
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <h2>ĐỘI NGŨ HUẤN LUYỆN VIÊN</h2>
                    </div>

                    <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 ">
                        <h4>Đội ngũ Huấn Luyện Viên của Trung Tâm Huấn Luyện Bóng Đá BIT</h4>
                        <p>
                            Là Các cựu cầu thủ của các CLB Cảng Sài Gòn, Giáo viên trường Thể dục thể thao TWII và các cầu thủ đang thi đấu cho CLB TP.HCM.
                            Họ là những người đã trải qua nhiều trận đấu và rút ra nhiều kinh nghiệm trong thi đấu, với vai trò tham gia huấn luyện nhiều năm trong ngành đào tạo bóng đá.
                        </p>
                        <a class="btn btn-default" href="coach_Lieu.html">Xem chi tiết</a>
                    </div>
                    <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
                        <a href="">
                            <img src="~/Assets/img/DN_HLV1.jpg" alt="Hình" class="img-fluid">
                        </a>
                    </div>
                </div>
                <!--Góc ảnh-->
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <h2>GÓC ẢNH</h2>
                    </div>
                    <!-- Slider -->
                    <div class="container-fluid p-0">
                        <div class="site-slider">
                            <div class="slider-one">
                                <div>
                                    <img src="~/Assets/img/HLV_HV1.jpg" alt="HLV_1" class="img-fluid" style="height:400px">
                                </div>
                                <div>
                                    <img src="~/Assets/img/HLV_HV2.jpg" alt="HLV_2" class="img-fluid" style="height:400px">
                                </div>
                                <div>
                                    <img src="~/Assets/img/HLV_HV3.jpg" alt="HLV_3" class="img-fluid" style="height:400px">
                                </div>
                                <div>
                                    <img src="~/Assets/img/HLV_HV4.jpg" alt="HLV_4" class="img-fluid" style="height:400px">
                                </div>
                                <div>
                                    <img src="~/Assets/img/HLV_HV5.jpg" alt="HLV_5" class="img-fluid" style="height:400px">
                                </div>
                                <div>
                                    <img src="~/Assets/img/HLV_HV6.jpg" alt="HLV_6" class="img-fluid" style="height:400px">
                                </div>
                            </div>

                            <div class="slider-btn">
                                <span class="prev position-top">
                                    <i class="fas fa-chevron-left"></i>
                                </span>
                                <span class="next position-top right-0">
                                    <i class="fas fa-chevron-right"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Where are we?-->
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <h2>WHERE ARE WE?</h2>
                        <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15676.4757168772!2d106.61830618822614!3d10.802202317136882!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x8d1076f7a39cba5e!2sAEON%20MALL%20T%C3%A2n%20Ph%C3%BA%20Celadon!5e0!3m2!1svi!2s!4v1589182947842!5m2!1svi!2s"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>