@{
    ViewBag.Title = "BIT Soccer";
}

<main>

    <!-- First Slider -->
    <div class="container-fluid p-0">
        <div class="site-slider">
            <div class="slider-one">
                <div>
                    <img src="~/Assets/img//home_slider_img_1.png" alt="Promo1" class="img-fluid">
                </div>
                <div>
                    <img src="~/Assets/img//promo2.jpg" alt="Promo2" class="img-fluid">
                </div>
                <div>
                    <img src="~/Assets/img//promo3.jpg" alt="Promo3" class="img-fluid">
                </div>
            </div>
            <div class="slider-btn">
                <span class="prev position-top">
                    <i class="fas fa-chevron-left"></i>
                </span>
                <span class="next position-top right-0">
                    <i class="fas fa-chevron-right"></i>
                </span>
            </div>
        </div>
    </div>
    <!-- First Slider -->
    <!-- Coach moment -->
    <div id="background_main">
        <div class="container-fluid">
            <div id="background_content" style="padding:0px 50px">
                <div class="separator-infor">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="separate-line">
                                    <h3><span class="commerce">Huấn luyện viên thân thiện</span></h3>
                                </div>
                                <p>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                                    , when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="lesson-zone">
                    <div class="clearfix">
                        <div class="container-fluid">
                            <div class="row padding">
                                <div class="col-md-4 col-sm-6 col-sx-12 e-lesson">
                                    <div class="lesson ih-item square colored effect3 bottom_to_top">
                                        <a href="#">
                                            <div class="img img-responsive"><img src="~/Assets/img//HLV_HV1.jpg" alt="img"></div>
                                            <div class="info">
                                                <h3>Heading here</h3>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6 col-sx-12 e-lesson">
                                    <div class="lesson ih-item square colored effect3 bottom_to_top">
                                        <a href="#">
                                            <div class="img img-responsive"><img src="~/Assets/img//HLV_HV2.jpg" alt="img"></div>
                                            <div class="info">
                                                <h3>Heading here</h3>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6 col-sx-12 e-lesson">
                                    <div class="lesson ih-item square colored effect3 bottom_to_top">
                                        <a href="#">
                                            <div class="img img-responsive"><img src="~/Assets/img//HLV_HV3.jpg" alt="img"></div>
                                            <div class="info">
                                                <h3>Heading here</h3>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6 col-sx-12 e-lesson">
                                    <div class="lesson ih-item square colored effect3 bottom_to_top">
                                        <a href="#">
                                            <div class="img img-responsive"><img src="~/Assets/img//HLV_HV4.jpg" alt="img"></div>
                                            <div class="info">
                                                <h3>Heading here</h3>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6 col-sx-12 e-lesson">
                                    <div class="lesson ih-item square colored effect3 bottom_to_top">
                                        <a href="#">
                                            <div class="img img-responsive"><img src="~/Assets/img//HLV_HV5.jpg" alt="img"></div>
                                            <div class="info">
                                                <h3>Heading here</h3>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6 col-sx-12 e-lesson">
                                    <div class="lesson ih-item square colored effect3 bottom_to_top">
                                        <a href="#">
                                            <div class="img img-responsive"><img src="~/Assets/img//HLV_HV6.jpg" alt="img"></div>
                                            <div class="info">
                                                <h3>Heading here</h3>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Coach moment -->
                <!-- Cards -->
                <div class="separator-infor">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="separate-line">
                                    <h3><span>Các khóa học hot</span></h3>
                                </div>
                                <p>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                                    , when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="hot-class-slider">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12 text-right">
                                <div class="slider-btn">
                                    <span class="prev position-top-two">
                                        <i class="fas fa-chevron-left fa-2x"></i>
                                    </span>
                                    <span class="next position-top-two">
                                        <i class="fas fa-chevron-right fa-2x"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="hot-class-wrapper">
                        <div class="hot-class">
                            <div class="card" style="width: auto">
                                <div class="inner">
                                    <div class="embed-responsive embed-responsive-4by3">
                                        <a href="#">
                                            <img src="~/Assets/img//Lop1.jpg" class="card-img-top embed-responsive-item" alt="...">
                                        </a>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="d-flex justify-content-between">
                                        <a href="#">
                                            <h5 class="card-title">Bóng đá cơ bản</h5>
                                        </a>
                                        <div class="class-number d-flex">
                                            <i class="fas fa-user"></i>
                                            <h5>50</h5>
                                        </div>
                                    </div>
                                    <p class="card-text">
                                        Huấn luyện viên: <span>Park Hang Seo</span>
                                    </p>
                                    <p class="card-text">
                                        Thời gian: <span>18/02/2020</span> - <span>18/04/2020</span>
                                    </p>
                                    <div class="star-prices d-flex justify-content-between">
                                        <div class="star d-flex">
                                            <i class="fas fa-star"></i><span>(4,5)</span>
                                        </div>
                                        <div class="prices position-relative">
                                            <div class="prices-now">5.000.000 VNĐ</div>
                                            <del class="prices-before">10.000.000 VNĐ</del>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="hot-class">
                            <div class="card" style="width: auto">
                                <div class="inner">
                                    <div class="embed-responsive embed-responsive-4by3">
                                        <a href="#">
                                            <img src="~/Assets/img//Lop1.jpg" class="card-img-top embed-responsive-item" alt="...">
                                        </a>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="d-flex justify-content-between">
                                        <a href="#">
                                            <h5 class="card-title">Bóng đá cơ bản</h5>
                                        </a>
                                        <div class="class-number d-flex">
                                            <i class="fas fa-user"></i>
                                            <h5>50</h5>
                                        </div>
                                    </div>
                                    <p class="card-text">
                                        Huấn luyện viên: <span>Park Hang Seo</span>
                                    </p>
                                    <p class="card-text">
                                        Thời gian: <span>18/02/2020</span> - <span>18/04/2020</span>
                                    </p>
                                    <div class="star-prices d-flex justify-content-between">
                                        <div class="star d-flex">
                                            <i class="fas fa-star"></i><span>(4,5)</span>
                                        </div>
                                        <div class="prices position-relative">
                                            <div class="prices-now">5.000.000 VNĐ</div>
                                            <del class="prices-before">10.000.000 VNĐ</del>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="hot-class">
                            <div class="card" style="width: auto">
                                <div class="inner">
                                    <div class="embed-responsive embed-responsive-4by3">
                                        <a href="#">
                                            <img src="~/Assets/img//Lop1.jpg" class="card-img-top embed-responsive-item" alt="...">
                                        </a>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="d-flex justify-content-between">
                                        <a href="#">
                                            <h5 class="card-title">Bóng đá cơ bản</h5>
                                        </a>
                                        <div class="class-number d-flex">
                                            <i class="fas fa-user"></i>
                                            <h5>50</h5>
                                        </div>
                                    </div>
                                    <p class="card-text">
                                        Huấn luyện viên: <span>Park Hang Seo</span>
                                    </p>
                                    <p class="card-text">
                                        Thời gian: <span>18/02/2020</span> - <span>18/04/2020</span>
                                    </p>
                                    <div class="star-prices d-flex justify-content-between">
                                        <div class="star d-flex">
                                            <i class="fas fa-star"></i><span>(4,5)</span>
                                        </div>
                                        <div class="prices position-relative">
                                            <div class="prices-now">5.000.000 VNĐ</div>
                                            <del class="prices-before">10.000.000 VNĐ</del>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="hot-class">
                            <div class="card" style="width: auto">
                                <div class="inner">
                                    <div class="embed-responsive embed-responsive-4by3">
                                        <a href="#">
                                            <img src="~/Assets/img//Lop1.jpg" class="card-img-top embed-responsive-item" alt="...">
                                        </a>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="d-flex justify-content-between">
                                        <a href="#">
                                            <h5 class="card-title">Bóng đá cơ bản</h5>
                                        </a>
                                        <div class="class-number d-flex">
                                            <i class="fas fa-user"></i>
                                            <h5>50</h5>
                                        </div>
                                    </div>
                                    <p class="card-text">
                                        Huấn luyện viên: <span>Park Hang Seo</span>
                                    </p>
                                    <p class="card-text">
                                        Thời gian: <span>18/02/2020</span> - <span>18/04/2020</span>
                                    </p>
                                    <div class="star-prices d-flex justify-content-between">
                                        <div class="star d-flex">
                                            <i class="fas fa-star"></i><span>(4,5)</span>
                                        </div>
                                        <div class="prices position-relative">
                                            <div class="prices-now">5.000.000 VNĐ</div>
                                            <del class="prices-before">10.000.000 VNĐ</del>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="hot-class">
                            <div class="card" style="width: auto">
                                <div class="inner">
                                    <div class="embed-responsive embed-responsive-4by3">
                                        <a href="#">
                                            <img src="~/Assets/img//Lop1.jpg" class="card-img-top embed-responsive-item" alt="...">
                                        </a>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="d-flex justify-content-between">
                                        <a href="#">
                                            <h5 class="card-title">Bóng đá cơ bản</h5>
                                        </a>
                                        <div class="class-number d-flex">
                                            <i class="fas fa-user"></i>
                                            <h5>50</h5>
                                        </div>
                                    </div>
                                    <p class="card-text">
                                        Huấn luyện viên: <span>Park Hang Seo</span>
                                    </p>
                                    <p class="card-text">
                                        Thời gian: <span>18/02/2020</span> - <span>18/04/2020</span>
                                    </p>
                                    <div class="star-prices d-flex justify-content-between">
                                        <div class="star d-flex">
                                            <i class="fas fa-star"></i><span>(4,5)</span>
                                        </div>
                                        <div class="prices position-relative">
                                            <div class="prices-now">5.000.000 VNĐ</div>
                                            <del class="prices-before">10.000.000 VNĐ</del>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="hot-class">
                            <div class="card" style="width: auto">
                                <div class="inner">
                                    <div class="embed-responsive embed-responsive-4by3">
                                        <a href="#">
                                            <img src="~/Assets/img//Lop1.jpg" class="card-img-top embed-responsive-item" alt="...">
                                        </a>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="d-flex justify-content-between">
                                        <a href="#">
                                            <h5 class="card-title">Bóng đá cơ bản</h5>
                                        </a>
                                        <div class="class-number d-flex">
                                            <i class="fas fa-user"></i>
                                            <h5>50</h5>
                                        </div>
                                    </div>
                                    <p class="card-text">
                                        Huấn luyện viên: <span>Park Hang Seo</span>
                                    </p>
                                    <p class="card-text">
                                        Thời gian: <span>18/02/2020</span> - <span>18/04/2020</span>
                                    </p>
                                    <div class="star-prices d-flex justify-content-between">
                                        <div class="star d-flex">
                                            <i class="fas fa-star"></i><span>(4,5)</span>
                                        </div>
                                        <div class="prices position-relative">
                                            <div class="prices-now">5.000.000 VNĐ</div>
                                            <del class="prices-before">10.000.000 VNĐ</del>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Cards -->
                <!-- Stadium -->
                <div class="separator-infor">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="separate-line">
                                    <h3><span>Sân vận động đẳng cấp</span></h3>
                                </div>
                                <p>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                                    , when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="stadium-zone">
                    <div class="container-fluid">
                        <div class="row padding">
                            <div class="col-lg-6 col-md-12">
                                <div class="ih-item square effect3 bottom_to_top stadium">
                                    <a href="#">
                                        <div class="img"><img src="~/Assets/img//SVD_A.jpg" alt="img"></div>
                                        <div class="info">
                                            <h3>SÂN VẬN ĐỘNG A</h3>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12">
                                <div class="ih-item square effect3 bottom_to_top stadium">
                                    <a href="#">
                                        <div class="img"><img src="~/Assets/img//SVD_B.png" alt="img"></div>
                                        <div class="info">
                                            <h3>SÂN VẬN ĐỘNG B</h3>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Stadium -->
                <!-- Tourament -->
                <div class="separator-infor">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="separate-line">
                                    <h3><span>Giải đấu chuyên nghiệp</span></h3>
                                </div>
                                <p>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                                    , when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>


                <div id="tourament">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <img src="~/Assets/img//TEAM-1.png" class="tourament-team-img">
                                <h4 class="tourament-team team-name">SURE LOSE</h4>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <h3 class="tourament-time">Thời gian: 18/04/2020</h3>
                                <h1 class="tourament-team-vs">vs</h1>
                                <h3 class="tourament-team-stadium">Sân vận động A</h3>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <img src="~/Assets/img//TEAM-2.png" class="tourament-team-img">
                                <h4 class="tourament-team team-name">AUTO LOSE</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Tourament -->
                <!-- Achievement -->

                <div class="separator-infor">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="separate-line">
                                    <h3><span>thành tựu đạt được</span></h3>
                                </div>
                                <p>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                                    , when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="achievements">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                <div class="achieve">
                                    <div class="card" style="width: auto;">
                                        <div class="inner">
                                            <div class="embed-responsive embed-responsive-1by1">
                                                <a href="#">
                                                    <img src="~/Assets/img//student member.png" class="card-img-top embed-responsive-item" alt="...">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <h4 class="card-title text-center">có HƠN 1000 HỌC VIÊN </h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                <div class="achieve">
                                    <div class="card" style="width: auto;">
                                        <div class="inner">
                                            <div class="embed-responsive embed-responsive-1by1">
                                                <a href="#">
                                                    <img src="~/Assets/img//coach member.png" class="card-img-top embed-responsive-item" alt="...">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <h4 class="card-title text-center">100 huấn luyện viên xuất sắc</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                <div class="achieve">
                                    <div class="card" style="width: auto;">
                                        <div class="inner">
                                            <div class="embed-responsive embed-responsive-1by1">
                                                <a href="#">
                                                    <img src="~/Assets/img//award.png" class="card-img-top embed-responsive-item" alt="...">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <h4 class="card-title text-center">trung tâm xuất sắc</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Achievement -->



                <div class="container-fluid">
                    <div class="row sign-in-now">
                        <div class="col-lg-7 col-md-6 col-sm-8 col-xs-12">
                            <div class="title_landing d-border-c commerce">
                                <q>Only passions, great passions can elevate the soul to great things.</q>
                                <br>
                                <br>
                                <q>Chỉ đam mê, những đam mê lớn lao mới nâng linh hồn tới những điều vĩ đại.</q>
                                <button type="button" class="btn btn-outline-light btn-lg">
                                    Đăng ký ngay
                                </button>
                            </div>
                            <!-- <h3 class="title_landing d-border-c commerce">
                              Only passions, great passions can elevate the soul to great things.
                            </h3>
                            <h3 class="title_landing d-border-c commerce">
                              Chỉ đam mê, những đam mê lớn lao mới nâng linh hồn tới những điều vĩ đại.
                            </h3>
                            <button type="button" class="btn btn-outline-light btn-lg">
                              Đăng ký ngay
                            </button> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>