
@{
    ViewBag.Title = "Đăng ký thành công";
    Layout = "~/Views/Shared/_Layout.cshtml";

    if (!User.Identity.IsAuthenticated)
    {
        Response.Redirect("~/Home/Index");
    }

}

<main>
    <div class="titile-bg">
        <div class="container">
            <div class="titile-name">đăng ký</div>
        </div>
        <div class="text-shadow"></div>
    </div>
    <div id="background_main">
        <div class="container">
            <div id="background_content" style="padding: 20px 0px">
                <div class="row py-4">
                    <div class="col-lg-12">
                        <h3 class="text-success text-center">
                            Bạn đã đăng ký tài khoản thành công
                        </h3>
                        <div class="mx-5">
                            <p class="alert alert-info align-items-center text-center mt-4 mx-5">Nhấn vào <a href="@Url.Action("Index","Home")">ĐÂY</a> để quay về trang chủ</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>