
@{
    ViewBag.Title = "Thanh Toán thành công";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>
    <div class="titile-bg" style="background-image: url('../../Assets/img/header_bg_2.jpg');">
        <div class="container">
            <div class="titile-name">tài khoản học viên</div>
        </div>
        <div class="text-shadow"></div>
    </div>
    <div id="background_main">
        <div class="container">
            <div id="background_content">
                <div class="row">
                    <div class="col-lg-12 py-3">
                        <h1 class="alert alert-success text-center">Thanh toán thành công</h1>
                        <br />
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
